/*Banner*/

.banner {
    margin: 0;
    padding: 0;
    height: 445px;
    margin-left: 570px;
    margin-top: 130px;
}

.boot__bg{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0efee;
    height: 600px;
    position: absolute;
    top: 126px;
    left: 0;
    z-index: -50;
    min-width: 1140px;
 
}

.boot{
    position: absolute;
    top: 126px;
    margin: 0;
    padding: 0;
    background-color: #f0efee;
    height: 600px;
    right: 55%;
    z-index: -50;
    overflow: hidden; 
            
}

.banner h3 {
    margin: 0;
    padding: 0;
    font-family: 'Trueno', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: var(--txt-color-active);
    
}

.banner h1 {
    margin: 0;
    padding: 0;
    font-family: 'Trueno', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    color: var(--txt-color-active);
    line-height: 80px;
       
}

.banner h2 {
    margin: 0;
    padding: 0;
    font-family: 'Trueno', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color: var(--txt-color-invert);
    line-height: 60px;
    
}

.banner p {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    font-family: 'Trueno', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: #8a8784;
    line-height: 26px;
    
}

.banner  button{
    border: 0;
    padding: 20px 50px;
    text-align: center;
    background-color: var(--bgc_pinc);
    font-family: 'Trueno', sans-serif;
    font-size: 16px;
    color: #ffff;
    
}
