hr{
    opacity: 0.4;
}
.footer{
    width: 100%;
    background-color: #633231;
}

.support{
    font-weight: 200;
    font-size: 16px;
}

.support__block{
    width: 160px;
    height: 160px;
    margin-right: 30px;
    background-position: center top;
    float: left;
    background-repeat: no-repeat;
    margin-top: 50px;
    text-align: center;
}

.support__block:last-child{
    margin-right: 0;
}

.support__block:nth-child(1){
    background-image: url(../img/sup_1.png);
}

.support__block:nth-child(2){
    background-image: url(../img/sup_2.png);
}
.support__block:nth-child(3){
    background-image: url(../img/sup_3.png);
}

.support__block:nth-child(4){
    background-image: url(../img/sup_4.png);
}
.support__block:nth-child(5){
    background-image: url(../img/sup_5.png);
}

.support__block:nth-child(6){
    background-image: url(../img/sup_6.png);
}

.support__block p{
    margin-top: 70px;
    margin-bottom: 50px;
}

.summary{
    width: 100%;
    padding-top: 100px;
    clear: both;
    height: 310px;
}

.summary__block{
/*    margin-left: 10px;*/
    width: 190px;
    float: left;
    
}

.summary__contacts{
    margin-left: 0;
    width: 350px;
    
    
}

.summary__contacts i{
    display: block;
    width: 57px;
    height: 57px;
    background-color: var(--txt-color-invert) !important;
    line-height: 57px;
}

.summary__contacts .fa-ul > li{
    margin-bottom: 20px;
    padding-left: 40px;
    
}

.summary__contacts .fa-ul{
    margin: 0 !important;
    padding-left: 45px;
}

.summary__contacts{
    font-size: 16px;
    font-family: 'TruenoLight', sans-serif;
    line-height: 30px;
}

.summary__contacts span, .summary__list li:first-child{
    font-weight: 600;
    font-family: 'TruenoRegular', sans-serif;
    color: var(--txt-color-invert);
    text-transform: uppercase;
    line-height: 30px;
}

.summary__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.summary__list a{
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    line-height: 30px;
}



.copyright{
    height: 40px;
    width: 100%;
    padding: 40px 0;
   
}

.copyright i{
    float: right;
    padding-left: 30px;
}

.copyright img{
    padding: 0;
}

.copyright span{
    display: block;
    margin: 5px auto;
    width: 500px;
    text-align: center;
}
