/*  PRESET  */

:root {
  
  --base-width: 1110px;
  --min-width: 320px;
  --space: 15px;
  --column: 65px;
  
  --txt-color-plain: #ffffff;
  --txt-color-invert: #ff7270;
  --txt-color-active: #633231;
  --txt-color-title: #bdb9b5;
  --txt-color-items: #dcc5b8;
  --bgc_pinc: #ff7270;
  --bgc_brown_dark: #482424;
  --bgc_brown2_light: #633231;
    
    

}

body{
    min-width: var(--base-width);
}

header, 
footer, 
main, 
section,
body{
  
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    font-family: 'TruenoLight', sans-serif;
    color: #fff;
  
}

.container{
    clear: both;
    width: var(--base-width);
    margin: 0 auto;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
      
}



.clearfix::after {
  
  content: "";
  display: table;
  clear: both;
  
}

.visually-hidden {
  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  
}

.btn{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-style: bold;
    font-weight: 600;
    cursor: pointer;
    font-family: 'TruenoRegular', sans-serif;
      
}


p{
    padding: 0;
    margin: 0;
}

li{
    
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: var(--bgc_brown2_light); 
  color: var(--txt-color-items); 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: var(--bgc_pinc); 
}

a, a:visited{
    color: #fff;
}

hr{
    clear: both;
    width: 100%;
}