/*Nav Bar*/

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
} 

.menu {
    display: block;
    margin: 0;
    padding: 0;
    background-color: var(--bgc_brown_dark);
    height: 50px;
    font-family: 'Trueno', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13pt;
    color: var(--txt-color-plain);
    line-height: 50px;

}


.menu .left span:hover{
    color: var(--txt-color-invert);
    cursor: pointer;
}


.menu .left{
    display: inline-block;
}

.menu .left span{
    margin-right: 40px;
/*    padding-right: 20px;*/

}

.right{
float: right;
}

.menu span:last-child{
    margin-right: 0;
    margin-left: 0;
}

.cart__item{
    margin-right: 40px;
    color: var(--txt-color-items);
}


.logo__img{
    display: inline-block;
    float: left;
    padding-top: 24px;
    
}

.login, .register{
    padding: 15px;
    
    
}

.login:hover, 
.register:hover, 
.login.active,
.register.active{
    background-color: var(--txt-color-invert);
    cursor: pointer;
}

.navigation {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    background-color: var(--bgc_brown2_light);
    height: 76px;
    z-index: 999;
}
.navigation__list, 
.navigation__item {
  
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.navigation__link {
  
    text-decoration: none;
    color: inherit;

  
}

.navigation--main {
  
    width: 100%;
    font-family: 'Trueno', sans-serif;
    font-weight: 200;
    font-style: normal;
 
  
}
    
.navigation--main .navigation__list {
/*   padding-top: 33px;*/
/*  padding-bottom: 20px;*/
   font-size: 0;
   line-height: 77px;
   vertical-align: middle;
   float: right;
}

.navigation--main .navigation__item {
  
   display: inline-block;
   margin-right: 34px;
   vertical-align: middle;
  
}

.navigation--main .navigation__item:last-child {
   margin-right: 0;
  
}

.navigation--main .navigation__link {
    position: relative;
    font-size: 16pt;
    line-height: 26pt;
    color: var(--txt-color-plain);
    transition: color 0.5s linear;
    
    
    
  
}

.navigation--main .navigation__link::after {
  
    content: "";
    position: absolute;
    top: 188%;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--txt-color-invert);
    transition: width 0.5s linear;
      
}

.navigation--main .navigation__link:hover, 
.navigation--main .navigation__link--active {
  
    color: var(--txt-color-invert);
    cursor: pointer;
  
}

.navigation--main .navigation__link:hover::after, 
.navigation--main .navigation__link--active::after {
  
    width: 100%;

  
}
   
.menu .right i{
   
	background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
    margin-right: 3px;
}


.menu .right i:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	transform: scale(1.6);
	color: #fff;
}

